body {
    background: #0c0d0d url('/static/img/background.png') no-repeat top center;
    font-family: Arial, sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.container {
    background-color: rgba(230, 230, 230, 0.9);
    border-radius: 15px;
    max-width: 800px;
    box-shadow: 0 0 9px white;
    width: 90%;
    padding: 50px 5%;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

.container input[type="text"],
.container input[type="password"] {
    display: inline-block; 
    margin-bottom: 15px;
    line-height: 18px;
    height: 25px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

.button {
    width: 400px;
    height: 100px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin: 20px auto 0; 
    display: block;
    background: url('/static/img/button.png') no-repeat center center; 
    text-decoration: none;
    background-size: contain;
    border-radius: 5px;
    text-align: center; 
    padding-top: 5px;
    line-height: 100px
}


fieldset {
    border: none;
}

.button:hover {
    color: gold;
}

.flashes {
    color: red;
}

.logo-container {
    position: fixed;
    top: 10px; 
    width: 100%;
    z-index: 1;
    text-align: center;
}

.logo {
    margin-bottom: 20px;
    display: block;
    width: 300px; 
    margin: 30px auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.success {
    color: green;
    
}

.inline-pre {
    display: inline; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    margin-top: auto; 
}

#armory-iframe {
    width: 1px;
    min-width: 100%;
    height: 500px;
    border: none;
}