{% extends 'base.html' %}

{% block content %}
    <iframe id="armory-iframe"></iframe>
        <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/iframe-resizer@4.3.2/js/iframeResizer.min.js"></script>
        <script type="application/javascript">
            let resizeSetup = false;
            window.addEventListener("message", (ev) => {
                if (ev.data.url !== undefined) {
                    const url = ev.data.url.trim().replace(/^\//, "");
                    window.history.replaceState(null, null, url === "" ? window.location.pathname : ("?" + url));
                } else if (ev.data === "contentLoaded") {
                    if (!resizeSetup) {
                        iFrameResize({ checkOrigin: false, autoResize: true }, "#armory-iframe");
                        resizeSetup = true;
                    } else {
                        document.getElementById("armory-iframe").iFrameResizer.resize();
                    }
                }
            });
            const iframe = document.getElementById("armory-iframe");
            const url = window.location.search.replace(/^\?/, "");
            iframe.src = "{{ armory_url }}";
            console.log("Iframe src: ", iframe.src);

            setInterval(function() {
                if (iframe) {
                    const iframeContentHeight = iframe.contentWindow.document.body.scrollHeight;
                    iframe.style.height = iframeContentHeight + 'px';
                }
            }, 500);
        </script>
{% endblock %}

